<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^localizacao\/?$ localizacao.php
RewriteRule ^contato\/?$ contato.php
RewriteRule ^galeria\/?$ galeria.php
</IfModule>
